Repository aipilotbyjd/lnkflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-lint, php-tests, go-lint, go-tests

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        exclude: '^(\.env|\.env\..*|apps/api/\.env|apps/engine/\.env|\.github/workflows/.*\.yml|.*\.go)$'

  - repo: local
    hooks:
      - id: php-lint
        name: PHP Lint
        entry: bash -c 'cd apps/api && ./vendor/bin/pint --test'
        language: system
        files: \.php$
        pass_filenames: false

      - id: php-tests
        name: PHP Tests
        entry: bash -c 'cd apps/api && php artisan test'
        language: system
        files: \.php$
        pass_filenames: false

      - id: go-lint
        name: Go Lint
        entry: bash -c 'echo "Go linting skipped in pre-commit"'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-tests
        name: Go Tests
        entry: bash -c 'cd apps/engine && go test ./...'
        language: system
        files: \.go$
        pass_filenames: false

fix: improve CI pipeline configuration for reliable testing
  .github/workflows/ci.yml
Due: none

fix: use Pest test runner directly in CI pipeline
  .github/workflows/ci.yml
Due: none

fix: generate Laravel Passport keys for OAuth2 tests
  .github/workflows/ci.yml
Due: none

fix: create missing protobuf files and skip failing Go test packages
  .github/workflows/ci.yml
Due: none

fix: install docker-compose in CI for build step
  .github/workflows/ci.yml
Due: none

fix: add required environment variables for Docker build
  .github/workflows/ci.yml
Due: none

fix: generate proper random secrets for Docker build in CI
  .github/workflows/ci.yml
Due: none

fix: generate protobuf files before Docker build
  .github/workflows/ci.yml
Due: none

feat: enhance CI workflow with concurrency, update Dependabot, and refactor Go code for backoff, gRPC, and error handling
  .github/dependabot.yml
  .github/workflows/ci.yml
  apps/engine/internal/execution/scheduler/scheduler.go
  apps/engine/internal/worker/executor/email.go
  apps/engine/internal/worker/isolation/sandbox.go
  apps/engine/internal/worker/poller/poller.go
  apps/engine/internal/worker/retry/backoff.go
  apps/engine/internal/worker/retry/policy.go
  apps/engine/internal/worker/service.go
  apps/engine/pkg/client/client.go
Due: go-lint, go-tests

wd
  apps/engine/.golangci.yml
Due: none

k
  .github/workflows/ci.yml
  apps/engine/.golangci.yml
Due: none

kk
  apps/api/routes/api.php
  apps/engine/.golangci.yml
Due: php-lint, php-tests

j
  apps/api/app/Models/Execution.php
  apps/api/app/Models/ExecutionNode.php
Due: php-lint, php-tests

j
  .github/workflows/ci.yml
  apps/engine/Dockerfile
Due: none

rfe
  apps/api/app/Jobs/ExecuteWorkflowJob.php
  apps/api/docker-compose.yml
  apps/engine/cmd/frontend/main.go
  apps/engine/cmd/timer/main.go
  apps/engine/cmd/worker/main.go
Due: php-lint, php-tests, go-lint, go-tests

jjh
  apps/engine/internal/frontend/consumer.go
Due: go-lint, go-tests

Refactor History Service: unify types, resolve import cycles, and update GRPC server
  apps/api/app/Http/Controllers/Api/WebhookReceiverController.php
  apps/api/tests/Feature/Api/WebhookReceiverTest.php
  apps/engine/cmd/history/main.go
  apps/engine/internal/frontend/adapter/history_client.go
  apps/engine/internal/history/archival/archiver.go
  apps/engine/internal/history/engine/engine.go
  apps/engine/internal/history/engine/state.go
  apps/engine/internal/history/events/builder.go
  apps/engine/internal/history/events/serializer.go
  apps/engine/internal/history/grpc_server.go
  apps/engine/internal/history/ndc/replicator.go
  apps/engine/internal/history/replay/replayer.go
  apps/engine/internal/history/service.go
  apps/engine/internal/history/shard/controller.go
  apps/engine/internal/history/store/interfaces.go
  apps/engine/internal/history/store/memory.go
  apps/engine/internal/history/store/postgres.go
  apps/engine/internal/history/types/types.go
  apps/engine/internal/matching/grpc_server.go
Due: php-lint, php-tests, go-lint, go-tests

l
  apps/engine/cmd/history/main.go
  apps/engine/internal/history/service.go
Due: go-lint, go-tests

chore(makefile): enhance Makefile with dependency validation and help command
  Makefile
Due: none

feat: implement production-ready workflow engine with all executors and integrations
  .dockerignore
  apps/api/.claude/skills/pest-testing/SKILL.md
  apps/api/.claude/skills/tailwindcss-development/SKILL.md
  apps/api/.cursor/mcp.json
  apps/api/.cursor/skills/pest-testing/SKILL.md
  apps/api/.cursor/skills/tailwindcss-development/SKILL.md
  apps/api/.mcp.json
  apps/api/.opencode/skills/pest-testing/SKILL.md
  apps/api/.opencode/skills/tailwindcss-development/SKILL.md
  apps/api/docs/API.md
  apps/api/docs/ARCHITECTURE_PLAN.md
  apps/api/docs/PENDING_FEATURES.md
  apps/api/docs/engine.md
  apps/api/docs/postman/LinkFlow_API.postman_collection.json
  apps/api/opencode.json
  apps/api/tests/Feature/Api/V1/CredentialTest.php
  apps/engine/.env.example
  apps/engine/api/proto/linkflow/matching/v1/service.proto
  apps/engine/buf.yaml
  apps/engine/cmd/history/main.go
  apps/engine/cmd/worker/main.go
  apps/engine/docs/MONOREPO_MIGRATION_PLAN.md
  apps/engine/docs/SECURITY.md
  apps/engine/docs/engine.md
  apps/engine/internal/worker/executor/ai.go
  apps/engine/internal/worker/executor/email.go
  apps/engine/internal/worker/executor/integrations.go
  apps/engine/internal/worker/executor/registry.go
  apps/engine/internal/worker/executor/slack.go
  apps/engine/migrate_monorepo.sh
  apps/engine/scripts/init-db.sql
  scripts/env-check.sh
Due: php-lint, php-tests, go-lint, go-tests

sw
  LINKFLOW_TESTING_PLAN.md
  apps/api/app/Jobs/ExecuteWorkflowJob.php
  apps/engine/docker-compose.yml
Due: php-lint, php-tests

feat: Use dynamic priority-based queues for workflow jobs and configure the default Redis queue.
  apps/api/app/Jobs/ExecuteWorkflowJob.php
  apps/api/docker-compose.yml
Due: php-lint, php-tests

Implement Workflow Executor and update core services
  apps/api/app/Http/Controllers/Api/V1/ExecutionController.php
  apps/api/config/database.php
  apps/api/routes/api.php
  apps/engine/Dockerfile
  apps/engine/cmd/worker/main.go
  apps/engine/docker-compose.yml
  apps/engine/internal/frontend/adapter/history_client.go
  apps/engine/internal/frontend/adapter/matching_client.go
  apps/engine/internal/frontend/consumer.go
  apps/engine/internal/frontend/service.go
  apps/engine/internal/frontend/types.go
  apps/engine/internal/history/grpc_server.go
  apps/engine/internal/history/service.go
  apps/engine/internal/history/store/postgres.go
  apps/engine/internal/history/types/types.go
  apps/engine/internal/matching/engine/task.go
  apps/engine/internal/matching/grpc_server.go
  apps/engine/internal/worker/adapter/history_client.go
  apps/engine/internal/worker/adapter/matching_client.go
  apps/engine/internal/worker/executor/http.go
  apps/engine/internal/worker/executor/interface.go
  apps/engine/internal/worker/executor/manual.go
  apps/engine/internal/worker/executor/types.go
  apps/engine/internal/worker/executor/webhook.go
  apps/engine/internal/worker/executor/workflow.go
  apps/engine/internal/worker/service.go
  apps/engine/scripts/init-db.sql
Due: php-lint, php-tests, go-lint, go-tests

Integrate History Client into Worker Service and refine event recording
  apps/engine/cmd/worker/main.go
  apps/engine/internal/history/grpc_server.go
  apps/engine/internal/history/service.go
  apps/engine/internal/matching/grpc_server.go
  apps/engine/internal/worker/adapter/matching_client.go
  apps/engine/internal/worker/executor/interface.go
  apps/engine/internal/worker/executor/workflow.go
  apps/engine/internal/worker/poller/poller.go
  apps/engine/internal/worker/service.go
  apps/engine/internal/worker/types.go
Due: go-lint, go-tests

csdw
  apps/engine/internal/history/service.go
  apps/engine/internal/matching/grpc_server.go
Due: go-lint, go-tests

fix(engine): production-readiness improvements
  apps/engine/cmd/frontend/main.go
  apps/engine/cmd/matching/main.go
  apps/engine/cmd/worker/main.go
  apps/engine/internal/frontend/interceptor/auth.go
  apps/engine/internal/frontend/interceptor/auth_test.go
  apps/engine/internal/frontend/service.go
  apps/engine/internal/history/grpc_server.go
  apps/engine/internal/history/service.go
  apps/engine/internal/matching/engine/task.go
  apps/engine/internal/matching/engine/taskqueue_test.go
  apps/engine/internal/matching/grpc_server.go
  apps/engine/internal/matching/grpc_server_test.go
  apps/engine/internal/observability/metrics/metrics.go
  apps/engine/internal/observability/metrics/metrics_test.go
  apps/engine/internal/worker/adapter/matching_client.go
  apps/engine/internal/worker/circuit/breaker_test.go
  apps/engine/internal/worker/executor/ai.go
  apps/engine/internal/worker/executor/email.go
  apps/engine/internal/worker/executor/integrations.go
  apps/engine/internal/worker/poller/poller.go
  apps/engine/internal/worker/service.go
  apps/engine/internal/worker/types.go
Due: go-lint, go-tests

fix(engine): stabilize workflow engine and timer service
  apps/api/app/Jobs/ExecuteWorkflowJob.php
  apps/api/config/database.php
  apps/api/database/migrations/2026_02_04_061654_create_oauth_auth_codes_table.php
  apps/api/database/migrations/2026_02_04_061655_create_oauth_access_tokens_table.php
  apps/api/database/migrations/2026_02_04_061656_create_oauth_refresh_tokens_table.php
  apps/api/database/migrations/2026_02_04_061657_create_oauth_clients_table.php
  apps/api/database/migrations/2026_02_04_061658_create_oauth_device_codes_table.php
  apps/engine/cmd/timer/main.go
  apps/engine/docker-compose.yml
  apps/engine/internal/frontend/consumer.go
  apps/engine/internal/history/store/postgres.go
  apps/engine/internal/timer/store/postgres.go
  apps/engine/internal/worker/executor/types.go
  apps/engine/internal/worker/executor/workflow.go
  apps/engine/scripts/migrations/001_initial.up.sql
  apps/engine/scripts/migrations/002_additional_tables.up.sql
  apps/engine/scripts/schema.sql
  infra/init/01-init.sql
  verify_end_to_end.sh
Due: php-lint, php-tests, go-lint, go-tests

fix(api): remove duplicate passport migration files
  apps/api/database/migrations/2026_02_04_061654_create_oauth_auth_codes_table.php
  apps/api/database/migrations/2026_02_04_061655_create_oauth_access_tokens_table.php
  apps/api/database/migrations/2026_02_04_061656_create_oauth_refresh_tokens_table.php
  apps/api/database/migrations/2026_02_04_061657_create_oauth_clients_table.php
  apps/api/database/migrations/2026_02_04_061658_create_oauth_device_codes_table.php
Due: php-lint, php-tests

O
  apps/engine/internal/matching/grpc_server.go
Due: go-lint, go-tests

K
  apps/engine/internal/execution/scheduler/scheduler.go
  apps/engine/internal/history/service.go
  apps/engine/internal/matching/engine/taskqueue.go
  apps/engine/internal/timer/service.go
  apps/engine/internal/timer/store/memory.go
  apps/engine/internal/timer/store/postgres.go
  apps/engine/internal/worker/executor/workflow.go
  apps/engine/internal/worker/poller/poller.go
  apps/engine/internal/worker/service.go
Due: go-lint, go-tests

feat: Implement task lease reaper in the matching service, fix worker history context cancellation, and add a new deep verification end-to-end test script.
  apps/engine/internal/matching/service.go
  apps/engine/internal/worker/service.go
Due: go-lint, go-tests

dw
  LINKFLOW_TESTING_PLAN.md
  verify_end_to_end.sh
Due: none

qdw
  apps/engine/api/proto/linkflow/history/v1/events.proto
  apps/engine/docs/editor.html
  apps/engine/docs/editor.js
  apps/engine/internal/frontend/adapter/history_client.go
  apps/engine/internal/history/grpc_server.go
  apps/engine/internal/history/types/types.go
  apps/engine/internal/worker/service.go
Due: go-lint, go-tests

chore: comprehensive quality improvements across API and Engine
  .editorconfig
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
  .secrets.baseline
  CONTRIBUTING.md
  Makefile
  apps/api/composer.json
  apps/api/docker-compose.yml
  apps/api/phpstan.neon
  apps/engine/.golangci.yml
  docs/adr/0001-hybrid-architecture.md
  docs/adr/0002-workflow-state-management.md
  docs/adr/README.md
  docs/architecture.md
  docs/runbooks/health-checks.md
  docs/runbooks/incident-response.md
  docs/service-catalog.md
Due: none

h
  apps/engine/migrate_monorepo.sh
Due: none

j
  .secrets.baseline
Due: none
