Repository aipilotbyjd/lnkflow: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-format, go-lint, go-format

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: '^(\.env|\.env\..*|apps/api/\.env|apps/engine/\.env)$'

  - repo: local
    hooks:
      - id: php-format
        name: PHP Format (Pint)
        entry: bash -c 'cd apps/api && ./vendor/bin/pint'
        language: system
        files: \.php$
        pass_filenames: false

      - id: go-lint
        name: Go Lint (fast)
        entry: bash -c 'cd apps/engine && golangci-lint run --fast'
        language: system
        files: \.go$
        pass_filenames: false

      - id: go-format
        name: Go Format
        entry: bash -c 'cd apps/engine && gofmt -w .'
        language: system
        files: \.go$
        pass_filenames: false

  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.18.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

fix: write execution logs and timestamps in job callback handler
  apps/api/app/Http/Controllers/Api/V1/JobCallbackController.php
  apps/engine/internal/worker/executor/condition.go
  apps/engine/internal/worker/executor/database.go
  apps/engine/internal/worker/executor/delay.go
  apps/engine/internal/worker/executor/email.go
Due: php-format, go-lint, go-format

fix(engine): conditional branching and HTTP error handling
  apps/api/docker-compose.yml
  apps/engine/internal/execution/graph/dag.go
  apps/engine/internal/execution/scheduler/scheduler.go
  apps/engine/internal/worker/executor/http.go
  apps/engine/internal/worker/executor/workflow.go
Due: go-lint, go-format

chore: cleanup boilerplate and improve project structure
  .env.example
  apps/api/README.md
  apps/api/docs/openapi.yaml
  apps/api/resources/css/app.css
  apps/api/resources/js/app.js
  apps/api/resources/js/bootstrap.js
  apps/api/resources/views/welcome.blade.php
  apps/api/routes/console.php
  apps/api/routes/web.php
  apps/api/tests/Feature/ExampleTest.php
  apps/api/tests/Unit/ExampleTest.php
  apps/engine/api/proto/linkflow/.gitkeep
  apps/engine/cmd/frontend/main.go
  apps/engine/internal/frontend/.gitkeep
  apps/engine/internal/history/.gitkeep
  apps/engine/internal/matching/.gitkeep
  apps/engine/internal/worker/.gitkeep
Due: php-format, go-lint, go-format

docs: finalize documentation structure and content
  CHANGELOG.md
  SECURITY.md
  docs/01-getting-started/04-first-workflow.md
  docs/01-getting-started/05-concepts.md
  docs/03-guides/credentials/oauth-setup.md
  docs/03-guides/integrations/email.md
  docs/03-guides/integrations/slack.md
  docs/03-guides/integrations/webhooks.md
  docs/03-guides/nodes/ai-nodes.md
  docs/03-guides/nodes/custom-nodes.md
  docs/03-guides/nodes/database-nodes.md
  docs/03-guides/workflows/conditional-logic.md
  docs/03-guides/workflows/error-handling.md
  docs/04-api-reference/authentication.md
  docs/04-api-reference/errors.md
  docs/04-api-reference/pagination.md
  docs/04-api-reference/rate-limits.md
  docs/05-deployment/03-kubernetes.md
  docs/05-deployment/04-configuration.md
  docs/05-deployment/05-scaling.md
  docs/05-deployment/06-production-checklist.md
  docs/06-operations/backup-restore.md
  docs/06-operations/monitoring.md
  docs/06-operations/troubleshooting.md
  docs/07-development/code-style.md
  docs/07-development/debugging.md
  docs/07-development/releasing.md
  docs/07-development/testing.md
  docs/README.md
  docs/STRUCTURE.md
  docs/adr/0003-grpc-internal-communication.md
Due: none

docs: add architecture diagrams using Mermaid
  docs/02-architecture/diagrams/README.md
Due: none

docs: add cookbook, expression reference, and custom node guide
  docs/03-guides/cookbook/README.md
  docs/03-guides/cookbook/chatbot-chain.md
  docs/03-guides/cookbook/fan-out-fan-in.md
  docs/03-guides/cookbook/human-in-the-loop.md
  docs/03-guides/reference/expressions.md
  docs/07-development/custom-nodes.md
  docs/STRUCTURE.md
Due: none

feat(engine): refactor architecture to scalable event-driven model
  apps/engine/api/proto/linkflow/history/v1/command.proto
  apps/engine/api/proto/linkflow/history/v1/service.proto
  apps/engine/cmd/history/main.go
  apps/engine/cmd/matching/main.go
  apps/engine/internal/frontend/adapter/history_client.go
  apps/engine/internal/history/service.go
  apps/engine/internal/history/types/types.go
  apps/engine/internal/history/visibility/interface.go
  apps/engine/internal/history/visibility/postgres.go
  apps/engine/internal/matching/engine/taskqueue.go
  apps/engine/internal/matching/engine/taskqueue_test.go
  apps/engine/internal/matching/partition/hashring.go
  apps/engine/internal/matching/partition/manager.go
  apps/engine/internal/matching/service.go
  apps/engine/internal/worker/adapter/history_client.go
  apps/engine/internal/worker/executor/workflow.go
  apps/engine/internal/worker/service.go
Due: go-lint, go-format

feat: add billing, versioning, scheduling, and infrastructure improvements
  apps/api/app/Console/Commands/DispatchScheduledWorkflows.php
  apps/api/app/Http/Controllers/Api/StripeWebhookController.php
  apps/api/app/Http/Controllers/Api/V1/BillingController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowImportExportController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowTemplateController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowVersionController.php
  apps/api/app/Http/Middleware/ApiRateLimiting.php
  apps/api/app/Http/Middleware/EnforceUsageLimits.php
  apps/api/app/Http/Resources/Api/V1/WorkflowVersionResource.php
  apps/api/app/Models/Workflow.php
  apps/api/app/Models/WorkflowTemplate.php
  apps/api/app/Models/WorkflowVersion.php
  apps/api/app/Services/StripeService.php
  apps/api/bootstrap/app.php
  apps/api/composer.json
  apps/api/composer.lock
  apps/api/database/migrations/2026_02_07_000001_create_workflow_versions_table.php
  apps/api/database/migrations/2026_02_07_000002_create_workflow_templates_table.php
  apps/api/routes/api.php
  apps/api/routes/console.php
  apps/api/routes/web.php
  apps/api/tests/Feature/Api/V1/AuthTest.php
  apps/api/tests/Feature/Api/V1/WorkspaceTest.php
  apps/engine/api/proto/linkflow/visibility/v1/service.proto
  apps/engine/cmd/visibility/main.go
  apps/engine/internal/matching/engine/taskqueue_test.go
  apps/engine/internal/worker/executor/integrations.go
  infra/nginx/nginx.conf
Due: php-format, go-lint, go-format

fix(engine): add trigger_schedule support and E2E tests
  apps/api/app/Console/Commands/DispatchScheduledWorkflows.php
  apps/engine/internal/worker/executor/registry.go
  apps/engine/internal/worker/executor/workflow.go
Due: php-format, go-lint, go-format

docs: add workflow creation guide and daily use cases templates
  docs/03-guides/daily-use-cases.md
  docs/03-guides/workflow-creation.md
  examples/all-nodes-template.json
  examples/daily-operations-pack.json
Due: none

docs: update Postman collection with all APIs, emojis, and proper organization
  docs/04-api-reference/postman/LinkFlow_API.postman_collection.json
  docs/04-api-reference/postman/LinkFlow_API.postman_environment.json
Due: none

fix(platform): harden workflow pipeline for production scale
  apps/api/.env.example
  apps/api/app/Http/Controllers/Api/V1/ExecutionController.php
  apps/api/app/Http/Controllers/Api/V1/JobCallbackController.php
  apps/api/app/Http/Middleware/VerifyEngineCallbackSignature.php
  apps/api/app/Jobs/ExecuteWorkflowJob.php
  apps/api/config/services.php
  apps/api/database/seeders/DatabaseSeeder.php
  apps/api/docker-compose.yml
  apps/api/routes/api.php
  apps/api/tests/Feature/Api/V1/ExecutionTest.php
  apps/api/tests/Feature/Api/V1/QueueTest.php
  apps/engine/cmd/frontend/main.go
  apps/engine/cmd/matching/main.go
  apps/engine/cmd/worker/main.go
  apps/engine/docker-compose.yml
  apps/engine/internal/frontend/consumer.go
  apps/engine/internal/frontend/service.go
  apps/engine/internal/matching/engine/taskqueue.go
  apps/engine/internal/matching/engine/taskqueue_test.go
  apps/engine/internal/matching/grpc_server.go
  apps/engine/internal/matching/service.go
  apps/engine/internal/worker/adapter/matching_client.go
  apps/engine/internal/worker/executor/workflow.go
  apps/engine/internal/worker/poller/poller.go
  apps/engine/internal/worker/service.go
  infra/docker-compose.yml
Due: php-format, go-lint, go-format

docs(api): update Postman collection for advanced endpoints
  docs/04-api-reference/postman/LinkFlow_API.postman_collection.json
  docs/04-api-reference/postman/LinkFlow_API.postman_environment.json
Due: none

feat(api): add passport refresh token auth flow and FE auth docs
  apps/api/.env.example
  apps/api/app/Http/Controllers/Api/V1/AuthController.php
  apps/api/app/Http/Requests/Api/V1/Auth/RefreshTokenRequest.php
  apps/api/app/Providers/AppServiceProvider.php
  apps/api/app/Services/Auth/PassportTokenException.php
  apps/api/app/Services/Auth/PassportTokenService.php
  apps/api/config/passport.php
  apps/api/routes/api.php
  apps/api/routes/console.php
  apps/api/tests/Feature/Api/V1/AuthTest.php
  docs/04-api-reference/authentication.md
  docs/04-api-reference/openapi.yaml
  docs/04-api-reference/postman/LinkFlow_API.postman_collection.json
  docs/04-api-reference/postman/LinkFlow_API.postman_environment.json
Due: php-format

refactor(api): remove spatie permission integration
  apps/api/README.md
  apps/api/app/Exceptions/ContractValidationException.php
  apps/api/app/Http/Controllers/Api/V1/CredentialController.php
  apps/api/app/Http/Controllers/Api/V1/ExecutionRunbookController.php
  apps/api/app/Http/Controllers/Api/V1/InvitationController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowContractController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowImportExportController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowTemplateController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowVersionController.php
  apps/api/app/Http/Controllers/Api/V1/WorkspaceController.php
  apps/api/app/Http/Controllers/Api/V1/WorkspaceMemberController.php
  apps/api/app/Http/Resources/Api/V1/CredentialResource.php
  apps/api/app/Models/User.php
  apps/api/app/Services/WorkspacePermissionService.php
  apps/api/composer.json
  apps/api/composer.lock
  apps/api/config/permission.php
  apps/api/database/migrations/2026_01_29_190839_create_permission_tables.php
  apps/api/database/seeders/RolesAndPermissionsSeeder.php
  apps/api/routes/api.php
Due: php-format

fix(api): resolve scoped workspace child bindings
  apps/api/app/Models/Workspace.php
  apps/api/tests/Feature/Api/V1/WorkspaceTest.php
  docs/02-architecture/05-security-model.md
Due: php-format

chore: add RBAC test coverage and deployment docs
  apps/api/app/Http/Controllers/Api/V1/TagController.php
  apps/api/app/Http/Controllers/Api/V1/VariableController.php
  apps/api/app/Http/Controllers/Api/V1/WebhookController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowController.php
  apps/api/app/Http/Controllers/Api/V1/WorkflowImportExportController.php
  apps/api/app/Http/Controllers/Api/V1/WorkspaceEnvironmentController.php
  apps/api/app/Services/WorkspacePermissionService.php
  apps/api/tests/Feature/Api/V1/InvitationSecurityTest.php
  apps/api/tests/Feature/Api/V1/RoleBasedAccessControlTest.php
  apps/api/tests/Pest.php
  apps/api/tests/Unit/Services/WorkspacePermissionServiceTest.php
  docs/05-deployment/07-multi-provider-ha-plan.md
  docs/05-deployment/08-multi-provider-operations.md
Due: php-format
